@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

.header {
  text-align: center;
  background-color: #00669f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.header h4,
.header h1 {
  padding: 10px;
  color: white;
}

.header h4 {
  background-color: #1cd1b0;
}

.header h1 {
  font-size: 40px;
  font-weight: 400;
  height: 100px;
}

.footer {
  padding: 10px;
  background-color: #00669f;
  color: white;
  text-align: center;
}

.main {
  padding: 50px;
  min-height: 100vh;
  text-align: center;
}

.card {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 10px;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 300px;
  height: auto;
  padding-bottom: 20px;
}

.icon_like {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 30px;
  color: #00669f;
}

.fondo_img img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.hero_foto {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_foto img {
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.nameHero {
  margin-top: 60px;
  font-size: 30px;
  font-weight: 400;
}

.infoHero {
  padding: 25px;
  font-size: 15px;
}

button {
  background-color: #00669f;
  color: white;
  border: none;
  padding: 15px;
  width: 130px;
  cursor: pointer;
}
